.ingredient_item {
    width: 272px;
    margin-left: 16px;
    position: relative;
}

.cost_block {
    display: flex;
    justify-content: center;
    margin: 4px 0;
}

.cost {
    margin-right: 8px;
}

.image {

}

.dish_name {
    height: 48px;
}