.wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    height: calc(100vh - 230px);
}

.scroll_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    width: 100%;
}

.scroll_container::-webkit-scrollbar {
    width: 8px;               
}
  
.scroll_container::-webkit-scrollbar-track {
    background: #2F2F37;       
}

.scroll_container::-webkit-scrollbar-thumb {
    background-color: #8585AD;    
}

.order_button_wrap {
    width: 215px;
}

.checkout_line {
    display: flex;
    align-items: center;
    height: 64px;
}

.burger_element {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    cursor: pointer;
}

.burger_element_top {
    margin-left: 25px;
    margin-right: 22px;
}

.burger_element_bottom {
    margin-left: 25px;
    margin-right: 22px;
}

.cost_element {
    display: flex;
   
}

.cost_icon svg {
    margin-left: 8px;
    height: 33px;
    width: 33px;
}

