@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}


body {
  margin: 0 auto;
  font-family: 'JetBrainsMono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1340px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

