.wrap {
    width: 600px;
}

.main_header {
    text-align: left;
}

.dishtype_section {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 8px;
}

.tab_bar {
    display: flex;
}

.section_header {
    width: 100%;
    text-align: left;
}

.scrollWrap {
    height: calc(100vh - 370px);
    overflow-y: scroll;
}

.scrollWrap::-webkit-scrollbar {
    width: 8px;               
}
  
.scrollWrap::-webkit-scrollbar-track {
    background: #2F2F37;       
}

.scrollWrap::-webkit-scrollbar-thumb {
    background-color: #8585AD;    
}