.wrap {
    width: 600px;
}

.wrap_modal {
    display:flex;
    flex-direction: column;
}

.main_header {
    text-align: left;
}

.tab_bar {
    display: flex;
}

.scrollWrap {
    height: calc(100vh - 370px);
    overflow-y: scroll;
}

.scrollWrap::-webkit-scrollbar {
    width: 8px;               
}
  
.scrollWrap::-webkit-scrollbar-track {
    background: #2F2F37;       
}

.scrollWrap::-webkit-scrollbar-thumb {
    background-color: #8585AD;    
}