.ingredient_item {
    width: 272px;
    position: relative;
    cursor: pointer;
}

.cost_block {
    display: flex;
    justify-content: center;
    margin: 4px 0;
}

.dish_name {
    text-align: center;
}

.dish_name_modal {
    text-align: center;
}

.dragging_ingredient {
    cursor: grabbing;
}