.header {
    margin: 40px 40px 0 40px;
    background-color: #1C1C21;
    position: relative;
}

.navigation {
    display: flex;
}

.logo {
    padding: 0;
    position: absolute;
    top: 20px;
    left: 50%;                      
    transform: translateX(-50%);
}

.label {
    margin-left:8px;
}


